.custom-navbar {
    background-color: #32936F;
}

.custom-footer{
    background-color: #32936F;
}

body{
    font-family:'PT Sans';
}

.container-fluid-image{
    background-image: url('../images/form-bg.png');
    padding-top: 40px;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Adjust as needed */
    padding: 50px 0; /* Adjust padding as needed */
}

.gradient-heading {
    background: linear-gradient(195deg, #4daa88, #0c885a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

label.form-label.requiredField{
    font-size: 20px;
}
label.form-label{
    font-size: 20px;
}
.asteriskField {
    display: none;
}

#map {
    height: 400px;
}

/* Style the select box */
#county-filter {
    color: #32936F;
    font-weight: 500;
    font-size: 36px; /* Adjust font size as needed */
    border: 0;
    width: 300px;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    padding-left: 65px; /* Add padding for the arrow */
    background-image: url('../icon/down-arrown.png'); /* Add your arrow image path */
    background-repeat: no-repeat;
    background-position: left center;
}

/* Hide the default dropdown arrow */
#county-filter::-ms-expand {
    display: none;
}

#headings{
    color: #32936F; 
    font-weight: 1000
}

.btn-primary{
    background-color: #32936F; 
    border-color: #32936F;
}
.btn-primary:hover{
    background-color: white; 
    border-color: #32936F;
    color: #32936F;
}


.custom-footer {
    color: #ffffff; /* Set the text color to white */
    
  }
  
  .custom-footer a {
    color: #ffffff; /* Set the link color to white */
  }
  
  .custom-footer a:hover {
    color: #cccccc; /* Set the link hover color */
  }

 
  .dropdown-item:hover {
    background-color: #32936F; /* Change to your desired color */
    color: #fff; /* Change text color to ensure contrast */
  }


