{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="w-100">
            {% for provider in socialaccount_providers %}
                    {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
            <a href="{{ href }}" class="btn btn-{{ provider.id|lower }} mb-3 py-2 w-100">
                        Continue with {{ provider.name }}
                    </a>
            {% endfor %}
    </div>
{% endif %}
