{% extends '../include/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block slider %}
{% load static %}
<div class="container-fluid position-relative p-0">
  <img src="{% static 'images/background.jpg' %}" class="backbg img-fluid" alt="Background Image">
  <div class="overlay-text">
    <h1>Dublin, Ireland</h1>
    <p>Wicklow House, 84/88 South Great George's Street, Dublin</p>
    <a href="https://maps.app.goo.gl/MGTBHKQgDf1a2Pme6" class="btn btn-primary">Get Directions</a>
  </div>
</div>
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}
<main class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-6">
      <h1 id="headings">Contact Us</h1>
      <form id="contact-form" method="post" action="{% url 'contact-us' %}">
        {% csrf_token %}

            <div class="form-group">
                {{ comment_form.name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ comment_form.email|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ comment_form.message|as_crispy_field }}
            </div>

        <button type="submit" class="btn btn-info" style="background-color: #32936F; border-color: #32936F;">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/oc.png' %}">
    </div>
    
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4763.981801976293!2d-6.2671506228874305!3d53.34341907494211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9d0335dbbd%3A0x1f6ea68456107158!2sDublin%20Business%20School!5e0!3m2!1sen!2sie!4v1712357605711!5m2!1sen!2sie" width="1100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </div>
</main>

{% endblock %}
