{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 id="headings" class="text-center mb-4">{{ _("Password Reset") }}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="mb-4">
                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            </p>
            {% url 'account_reset_password' as reset_url %}
            <form method="post" action="{{ reset_url }}" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_email" class="form-label">{{ _("Email") }}</label>
                    <input type="email" name="email" id="id_email" class="form-control" placeholder="{{ _("Enter your email") }}" required>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-5">{% trans 'Reset My Password' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}



