{% extends '../include/base.html' %}

{% block title %}My Tickets{% endblock %}

{% block content %}
<div class="container mb-5 mt-5">
  <div class="col-md-12">
    <h1 id="headings" class="mb-4">My Tickets</h1>
    {% if user_tickets %}
      <ul class="list-group">
        {% for ticket in user_tickets %}
        <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex flex-grow-1">
            <div>
              <h5>{{ ticket.event.title }}</h5>
              <p class="mb-0">Price: {{ ticket.price }}</p>
              <p class="mb-0">Date: {{ ticket.date }}</p>
              <button class="btn btn-info mt-3" data-toggle="modal" data-target="#ticketInfoModal{{ ticket.id }}">View Ticket Information</button>
            </div>
            {% if ticket.event.image %}
            <div class="ml-auto"> <!-- Use ml-auto to push the image to the right -->
              <img src="{{ ticket.event.image.url }}" class="card-img-top" alt="Event Image" style="max-width: 300px;">
            </div>
            {% endif %}
          </div>
        </li>

        <!-- Ticket Information Modal -->
                <div class="modal fade" id="ticketInfoModal{{ ticket.id }}" tabindex="-1" role="dialog" aria-labelledby="ticketInfoModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ticketInfoModalLabel">Ticket Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                {% if ticket.event.image %}
                <img src="{{ ticket.event.image.url }}" class="card-img-top" alt="Event Image" style="max-width: 300px;">
                {% endif %}
                <div class="mt-3">
                <p>Ticket Title: {{ ticket.title }}</p>
                <p>Date of the event: {{ ticket.date }}</p>
                <p>Ticket Bought: 1</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Ticket Information Modal -->

        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert">
        No tickets found.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
